--
-- PostgreSQL database dump
--

\restrict c3Ab579KtH0GtRCSH7q4yliCZfEIvSFTJeLK8lnLaVuXrdfrWjyEIMLIQ4pRvD2

-- Dumped from database version 15.14 (Debian 15.14-1.pgdg13+1)
-- Dumped by pg_dump version 15.14 (Debian 15.14-1.pgdg13+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: attendences; Type: TABLE; Schema: public; Owner: segp13
--

CREATE TABLE public.attendences (
    id bigint NOT NULL,
    student_id character varying(255) NOT NULL,
    date date NOT NULL,
    status character varying(255) DEFAULT 'Present'::character varying NOT NULL,
    created_at timestamp(0) without time zone,
    updated_at timestamp(0) without time zone,
    CONSTRAINT attendences_status_check CHECK (((status)::text = ANY ((ARRAY['Present'::character varying, 'Absent'::character varying, 'Late'::character varying])::text[])))
);


ALTER TABLE public.attendences OWNER TO segp13;

--
-- Name: attendences_id_seq; Type: SEQUENCE; Schema: public; Owner: segp13
--

CREATE SEQUENCE public.attendences_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.attendences_id_seq OWNER TO segp13;

--
-- Name: attendences_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: segp13
--

ALTER SEQUENCE public.attendences_id_seq OWNED BY public.attendences.id;


--
-- Name: cache; Type: TABLE; Schema: public; Owner: segp13
--

CREATE TABLE public.cache (
    key character varying(255) NOT NULL,
    value text NOT NULL,
    expiration integer NOT NULL
);


ALTER TABLE public.cache OWNER TO segp13;

--
-- Name: cache_locks; Type: TABLE; Schema: public; Owner: segp13
--

CREATE TABLE public.cache_locks (
    key character varying(255) NOT NULL,
    owner character varying(255) NOT NULL,
    expiration integer NOT NULL
);


ALTER TABLE public.cache_locks OWNER TO segp13;

--
-- Name: classes; Type: TABLE; Schema: public; Owner: segp13
--

CREATE TABLE public.classes (
    class_id character varying(255) NOT NULL,
    class_name character varying(255) NOT NULL,
    created_at timestamp(0) without time zone,
    updated_at timestamp(0) without time zone
);


ALTER TABLE public.classes OWNER TO segp13;

--
-- Name: failed_jobs; Type: TABLE; Schema: public; Owner: segp13
--

CREATE TABLE public.failed_jobs (
    id bigint NOT NULL,
    uuid character varying(255) NOT NULL,
    connection text NOT NULL,
    queue text NOT NULL,
    payload text NOT NULL,
    exception text NOT NULL,
    failed_at timestamp(0) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.failed_jobs OWNER TO segp13;

--
-- Name: failed_jobs_id_seq; Type: SEQUENCE; Schema: public; Owner: segp13
--

CREATE SEQUENCE public.failed_jobs_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.failed_jobs_id_seq OWNER TO segp13;

--
-- Name: failed_jobs_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: segp13
--

ALTER SEQUENCE public.failed_jobs_id_seq OWNED BY public.failed_jobs.id;


--
-- Name: job_batches; Type: TABLE; Schema: public; Owner: segp13
--

CREATE TABLE public.job_batches (
    id character varying(255) NOT NULL,
    name character varying(255) NOT NULL,
    total_jobs integer NOT NULL,
    pending_jobs integer NOT NULL,
    failed_jobs integer NOT NULL,
    failed_job_ids text NOT NULL,
    options text,
    cancelled_at integer,
    created_at integer NOT NULL,
    finished_at integer
);


ALTER TABLE public.job_batches OWNER TO segp13;

--
-- Name: jobs; Type: TABLE; Schema: public; Owner: segp13
--

CREATE TABLE public.jobs (
    id bigint NOT NULL,
    queue character varying(255) NOT NULL,
    payload text NOT NULL,
    attempts smallint NOT NULL,
    reserved_at integer,
    available_at integer NOT NULL,
    created_at integer NOT NULL
);


ALTER TABLE public.jobs OWNER TO segp13;

--
-- Name: jobs_id_seq; Type: SEQUENCE; Schema: public; Owner: segp13
--

CREATE SEQUENCE public.jobs_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.jobs_id_seq OWNER TO segp13;

--
-- Name: jobs_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: segp13
--

ALTER SEQUENCE public.jobs_id_seq OWNED BY public.jobs.id;


--
-- Name: migrations; Type: TABLE; Schema: public; Owner: segp13
--

CREATE TABLE public.migrations (
    id integer NOT NULL,
    migration character varying(255) NOT NULL,
    batch integer NOT NULL
);


ALTER TABLE public.migrations OWNER TO segp13;

--
-- Name: migrations_id_seq; Type: SEQUENCE; Schema: public; Owner: segp13
--

CREATE SEQUENCE public.migrations_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.migrations_id_seq OWNER TO segp13;

--
-- Name: migrations_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: segp13
--

ALTER SEQUENCE public.migrations_id_seq OWNED BY public.migrations.id;


--
-- Name: password_reset_tokens; Type: TABLE; Schema: public; Owner: segp13
--

CREATE TABLE public.password_reset_tokens (
    email character varying(255) NOT NULL,
    token character varying(255) NOT NULL,
    created_at timestamp(0) without time zone
);


ALTER TABLE public.password_reset_tokens OWNER TO segp13;

--
-- Name: personal_access_tokens; Type: TABLE; Schema: public; Owner: segp13
--

CREATE TABLE public.personal_access_tokens (
    id bigint NOT NULL,
    tokenable_type character varying(255) NOT NULL,
    tokenable_id bigint NOT NULL,
    name text NOT NULL,
    token character varying(64) NOT NULL,
    abilities text,
    last_used_at timestamp(0) without time zone,
    expires_at timestamp(0) without time zone,
    created_at timestamp(0) without time zone,
    updated_at timestamp(0) without time zone
);


ALTER TABLE public.personal_access_tokens OWNER TO segp13;

--
-- Name: personal_access_tokens_id_seq; Type: SEQUENCE; Schema: public; Owner: segp13
--

CREATE SEQUENCE public.personal_access_tokens_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.personal_access_tokens_id_seq OWNER TO segp13;

--
-- Name: personal_access_tokens_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: segp13
--

ALTER SEQUENCE public.personal_access_tokens_id_seq OWNED BY public.personal_access_tokens.id;


--
-- Name: sessions; Type: TABLE; Schema: public; Owner: segp13
--

CREATE TABLE public.sessions (
    id character varying(255) NOT NULL,
    user_id bigint,
    ip_address character varying(45),
    user_agent text,
    payload text NOT NULL,
    last_activity integer NOT NULL
);


ALTER TABLE public.sessions OWNER TO segp13;

--
-- Name: student_lists; Type: TABLE; Schema: public; Owner: segp13
--

CREATE TABLE public.student_lists (
    student_id character varying(255) NOT NULL,
    student_name character varying(255) NOT NULL,
    gender character varying(255),
    email character varying(255),
    class_id character varying(255) NOT NULL,
    created_at timestamp(0) without time zone,
    updated_at timestamp(0) without time zone
);


ALTER TABLE public.student_lists OWNER TO segp13;

--
-- Name: subjects; Type: TABLE; Schema: public; Owner: segp13
--

CREATE TABLE public.subjects (
    subject_id character varying(255) NOT NULL,
    subject_name character varying(255) NOT NULL,
    created_at timestamp(0) without time zone,
    updated_at timestamp(0) without time zone
);


ALTER TABLE public.subjects OWNER TO segp13;

--
-- Name: teachers; Type: TABLE; Schema: public; Owner: segp13
--

CREATE TABLE public.teachers (
    teacher_id character varying(255) NOT NULL,
    teacher_name character varying(255) NOT NULL,
    class_id character varying(255) NOT NULL,
    subject_id character varying(255) NOT NULL,
    created_at timestamp(0) without time zone,
    updated_at timestamp(0) without time zone
);


ALTER TABLE public.teachers OWNER TO segp13;

--
-- Name: users; Type: TABLE; Schema: public; Owner: segp13
--

CREATE TABLE public.users (
    id bigint NOT NULL,
    name character varying(255) NOT NULL,
    email character varying(255) NOT NULL,
    email_verified_at timestamp(0) without time zone,
    password character varying(255) NOT NULL,
    remember_token character varying(100),
    created_at timestamp(0) without time zone,
    updated_at timestamp(0) without time zone
);


ALTER TABLE public.users OWNER TO segp13;

--
-- Name: users_id_seq; Type: SEQUENCE; Schema: public; Owner: segp13
--

CREATE SEQUENCE public.users_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.users_id_seq OWNER TO segp13;

--
-- Name: users_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: segp13
--

ALTER SEQUENCE public.users_id_seq OWNED BY public.users.id;


--
-- Name: attendences id; Type: DEFAULT; Schema: public; Owner: segp13
--

ALTER TABLE ONLY public.attendences ALTER COLUMN id SET DEFAULT nextval('public.attendences_id_seq'::regclass);


--
-- Name: failed_jobs id; Type: DEFAULT; Schema: public; Owner: segp13
--

ALTER TABLE ONLY public.failed_jobs ALTER COLUMN id SET DEFAULT nextval('public.failed_jobs_id_seq'::regclass);


--
-- Name: jobs id; Type: DEFAULT; Schema: public; Owner: segp13
--

ALTER TABLE ONLY public.jobs ALTER COLUMN id SET DEFAULT nextval('public.jobs_id_seq'::regclass);


--
-- Name: migrations id; Type: DEFAULT; Schema: public; Owner: segp13
--

ALTER TABLE ONLY public.migrations ALTER COLUMN id SET DEFAULT nextval('public.migrations_id_seq'::regclass);


--
-- Name: personal_access_tokens id; Type: DEFAULT; Schema: public; Owner: segp13
--

ALTER TABLE ONLY public.personal_access_tokens ALTER COLUMN id SET DEFAULT nextval('public.personal_access_tokens_id_seq'::regclass);


--
-- Name: users id; Type: DEFAULT; Schema: public; Owner: segp13
--

ALTER TABLE ONLY public.users ALTER COLUMN id SET DEFAULT nextval('public.users_id_seq'::regclass);


--
-- Data for Name: attendences; Type: TABLE DATA; Schema: public; Owner: segp13
--

COPY public.attendences (id, student_id, date, status, created_at, updated_at) FROM stdin;
1	STU1001	2025-10-15	Present	2025-10-23 13:59:14	2025-10-23 13:59:14
2	STU1001	2025-10-15	Present	2025-10-23 13:59:17	2025-10-23 13:59:17
3	STU1001	2025-10-15	Present	2025-10-23 13:59:18	2025-10-23 13:59:18
4	STU1002	2025-10-15	Present	2025-10-23 13:59:24	2025-10-23 13:59:24
5	STU1002	2025-10-15	Present	2025-10-23 13:59:25	2025-10-23 13:59:25
6	STU1002	2025-10-15	Absent	2025-10-23 13:59:34	2025-10-23 13:59:34
\.


--
-- Data for Name: cache; Type: TABLE DATA; Schema: public; Owner: segp13
--

COPY public.cache (key, value, expiration) FROM stdin;
\.


--
-- Data for Name: cache_locks; Type: TABLE DATA; Schema: public; Owner: segp13
--

COPY public.cache_locks (key, owner, expiration) FROM stdin;
\.


--
-- Data for Name: classes; Type: TABLE DATA; Schema: public; Owner: segp13
--

COPY public.classes (class_id, class_name, created_at, updated_at) FROM stdin;
cl1	12A	2025-10-23 13:57:40	2025-10-23 13:57:40
cl2	12B	2025-10-23 13:57:48	2025-10-23 13:57:48
\.


--
-- Data for Name: failed_jobs; Type: TABLE DATA; Schema: public; Owner: segp13
--

COPY public.failed_jobs (id, uuid, connection, queue, payload, exception, failed_at) FROM stdin;
\.


--
-- Data for Name: job_batches; Type: TABLE DATA; Schema: public; Owner: segp13
--

COPY public.job_batches (id, name, total_jobs, pending_jobs, failed_jobs, failed_job_ids, options, cancelled_at, created_at, finished_at) FROM stdin;
\.


--
-- Data for Name: jobs; Type: TABLE DATA; Schema: public; Owner: segp13
--

COPY public.jobs (id, queue, payload, attempts, reserved_at, available_at, created_at) FROM stdin;
\.


--
-- Data for Name: migrations; Type: TABLE DATA; Schema: public; Owner: segp13
--

COPY public.migrations (id, migration, batch) FROM stdin;
1	0001_01_01_000000_create_users_table	1
2	0001_01_01_000001_create_cache_table	1
3	0001_01_01_000002_create_jobs_table	1
4	2025_10_16_073506_create_personal_access_tokens_table	1
15	2025_10_17_154911_create_classes_table	2
16	2025_10_18_071447_create_student_lists_table	2
17	2025_10_18_103724_create_attendences_table	2
18	2025_10_20_035940_create_subjects_table	2
19	2025_10_22_044836_create_teachers_table	2
\.


--
-- Data for Name: password_reset_tokens; Type: TABLE DATA; Schema: public; Owner: segp13
--

COPY public.password_reset_tokens (email, token, created_at) FROM stdin;
\.


--
-- Data for Name: personal_access_tokens; Type: TABLE DATA; Schema: public; Owner: segp13
--

COPY public.personal_access_tokens (id, tokenable_type, tokenable_id, name, token, abilities, last_used_at, expires_at, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: sessions; Type: TABLE DATA; Schema: public; Owner: segp13
--

COPY public.sessions (id, user_id, ip_address, user_agent, payload, last_activity) FROM stdin;
Mb0cT0HqJ5lfP4w24FOfwhs6EM1K5mOYisKbTgp7	\N	172.19.0.1	Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/141.0.0.0 Safari/537.36	YTozOntzOjY6Il90b2tlbiI7czo0MDoiVkx4V21OOTg0STdSWHJ4NVdUWUVzR3lmUHIyaUh2a3dLZXpieG5oVSI7czo5OiJfcHJldmlvdXMiO2E6MTp7czozOiJ1cmwiO3M6MjE6Imh0dHA6Ly9sb2NhbGhvc3Q6ODAwMCI7fXM6NjoiX2ZsYXNoIjthOjI6e3M6Mzoib2xkIjthOjA6e31zOjM6Im5ldyI7YTowOnt9fX0=	1761222958
\.


--
-- Data for Name: student_lists; Type: TABLE DATA; Schema: public; Owner: segp13
--

COPY public.student_lists (student_id, student_name, gender, email, class_id, created_at, updated_at) FROM stdin;
STU1001	Mengseu Mom	Male	megnseumom@gmail.com	cl1	2025-10-23 13:58:39	2025-10-23 13:58:39
STU1002	Virak Dara	Male	daravirak@gmail.com	cl2	2025-10-23 13:59:05	2025-10-23 13:59:05
\.


--
-- Data for Name: subjects; Type: TABLE DATA; Schema: public; Owner: segp13
--

COPY public.subjects (subject_id, subject_name, created_at, updated_at) FROM stdin;
km1	Java programming	2025-10-23 13:58:13	2025-10-23 13:58:13
km2	C# programming	2025-10-23 13:58:26	2025-10-23 13:58:26
\.


--
-- Data for Name: teachers; Type: TABLE DATA; Schema: public; Owner: segp13
--

COPY public.teachers (teacher_id, teacher_name, class_id, subject_id, created_at, updated_at) FROM stdin;
tc1002	Bob Brown	cl1	km1	2025-10-23 13:59:50	2025-10-23 13:59:50
tc1001	Bob Brown	cl2	km2	2025-10-23 14:00:08	2025-10-23 14:00:08
\.


--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: segp13
--

COPY public.users (id, name, email, email_verified_at, password, remember_token, created_at, updated_at) FROM stdin;
\.


--
-- Name: attendences_id_seq; Type: SEQUENCE SET; Schema: public; Owner: segp13
--

SELECT pg_catalog.setval('public.attendences_id_seq', 6, true);


--
-- Name: failed_jobs_id_seq; Type: SEQUENCE SET; Schema: public; Owner: segp13
--

SELECT pg_catalog.setval('public.failed_jobs_id_seq', 1, false);


--
-- Name: jobs_id_seq; Type: SEQUENCE SET; Schema: public; Owner: segp13
--

SELECT pg_catalog.setval('public.jobs_id_seq', 1, false);


--
-- Name: migrations_id_seq; Type: SEQUENCE SET; Schema: public; Owner: segp13
--

SELECT pg_catalog.setval('public.migrations_id_seq', 19, true);


--
-- Name: personal_access_tokens_id_seq; Type: SEQUENCE SET; Schema: public; Owner: segp13
--

SELECT pg_catalog.setval('public.personal_access_tokens_id_seq', 1, false);


--
-- Name: users_id_seq; Type: SEQUENCE SET; Schema: public; Owner: segp13
--

SELECT pg_catalog.setval('public.users_id_seq', 1, false);


--
-- Name: attendences attendences_pkey; Type: CONSTRAINT; Schema: public; Owner: segp13
--

ALTER TABLE ONLY public.attendences
    ADD CONSTRAINT attendences_pkey PRIMARY KEY (id);


--
-- Name: cache_locks cache_locks_pkey; Type: CONSTRAINT; Schema: public; Owner: segp13
--

ALTER TABLE ONLY public.cache_locks
    ADD CONSTRAINT cache_locks_pkey PRIMARY KEY (key);


--
-- Name: cache cache_pkey; Type: CONSTRAINT; Schema: public; Owner: segp13
--

ALTER TABLE ONLY public.cache
    ADD CONSTRAINT cache_pkey PRIMARY KEY (key);


--
-- Name: classes classes_class_id_unique; Type: CONSTRAINT; Schema: public; Owner: segp13
--

ALTER TABLE ONLY public.classes
    ADD CONSTRAINT classes_class_id_unique UNIQUE (class_id);


--
-- Name: failed_jobs failed_jobs_pkey; Type: CONSTRAINT; Schema: public; Owner: segp13
--

ALTER TABLE ONLY public.failed_jobs
    ADD CONSTRAINT failed_jobs_pkey PRIMARY KEY (id);


--
-- Name: failed_jobs failed_jobs_uuid_unique; Type: CONSTRAINT; Schema: public; Owner: segp13
--

ALTER TABLE ONLY public.failed_jobs
    ADD CONSTRAINT failed_jobs_uuid_unique UNIQUE (uuid);


--
-- Name: job_batches job_batches_pkey; Type: CONSTRAINT; Schema: public; Owner: segp13
--

ALTER TABLE ONLY public.job_batches
    ADD CONSTRAINT job_batches_pkey PRIMARY KEY (id);


--
-- Name: jobs jobs_pkey; Type: CONSTRAINT; Schema: public; Owner: segp13
--

ALTER TABLE ONLY public.jobs
    ADD CONSTRAINT jobs_pkey PRIMARY KEY (id);


--
-- Name: migrations migrations_pkey; Type: CONSTRAINT; Schema: public; Owner: segp13
--

ALTER TABLE ONLY public.migrations
    ADD CONSTRAINT migrations_pkey PRIMARY KEY (id);


--
-- Name: password_reset_tokens password_reset_tokens_pkey; Type: CONSTRAINT; Schema: public; Owner: segp13
--

ALTER TABLE ONLY public.password_reset_tokens
    ADD CONSTRAINT password_reset_tokens_pkey PRIMARY KEY (email);


--
-- Name: personal_access_tokens personal_access_tokens_pkey; Type: CONSTRAINT; Schema: public; Owner: segp13
--

ALTER TABLE ONLY public.personal_access_tokens
    ADD CONSTRAINT personal_access_tokens_pkey PRIMARY KEY (id);


--
-- Name: personal_access_tokens personal_access_tokens_token_unique; Type: CONSTRAINT; Schema: public; Owner: segp13
--

ALTER TABLE ONLY public.personal_access_tokens
    ADD CONSTRAINT personal_access_tokens_token_unique UNIQUE (token);


--
-- Name: sessions sessions_pkey; Type: CONSTRAINT; Schema: public; Owner: segp13
--

ALTER TABLE ONLY public.sessions
    ADD CONSTRAINT sessions_pkey PRIMARY KEY (id);


--
-- Name: student_lists student_lists_pkey; Type: CONSTRAINT; Schema: public; Owner: segp13
--

ALTER TABLE ONLY public.student_lists
    ADD CONSTRAINT student_lists_pkey PRIMARY KEY (student_id);


--
-- Name: subjects subjects_pkey; Type: CONSTRAINT; Schema: public; Owner: segp13
--

ALTER TABLE ONLY public.subjects
    ADD CONSTRAINT subjects_pkey PRIMARY KEY (subject_id);


--
-- Name: teachers teachers_pkey; Type: CONSTRAINT; Schema: public; Owner: segp13
--

ALTER TABLE ONLY public.teachers
    ADD CONSTRAINT teachers_pkey PRIMARY KEY (teacher_id);


--
-- Name: users users_email_unique; Type: CONSTRAINT; Schema: public; Owner: segp13
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_email_unique UNIQUE (email);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: segp13
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: jobs_queue_index; Type: INDEX; Schema: public; Owner: segp13
--

CREATE INDEX jobs_queue_index ON public.jobs USING btree (queue);


--
-- Name: personal_access_tokens_expires_at_index; Type: INDEX; Schema: public; Owner: segp13
--

CREATE INDEX personal_access_tokens_expires_at_index ON public.personal_access_tokens USING btree (expires_at);


--
-- Name: personal_access_tokens_tokenable_type_tokenable_id_index; Type: INDEX; Schema: public; Owner: segp13
--

CREATE INDEX personal_access_tokens_tokenable_type_tokenable_id_index ON public.personal_access_tokens USING btree (tokenable_type, tokenable_id);


--
-- Name: sessions_last_activity_index; Type: INDEX; Schema: public; Owner: segp13
--

CREATE INDEX sessions_last_activity_index ON public.sessions USING btree (last_activity);


--
-- Name: sessions_user_id_index; Type: INDEX; Schema: public; Owner: segp13
--

CREATE INDEX sessions_user_id_index ON public.sessions USING btree (user_id);


--
-- Name: attendences attendences_student_id_foreign; Type: FK CONSTRAINT; Schema: public; Owner: segp13
--

ALTER TABLE ONLY public.attendences
    ADD CONSTRAINT attendences_student_id_foreign FOREIGN KEY (student_id) REFERENCES public.student_lists(student_id) ON DELETE CASCADE;


--
-- Name: student_lists student_lists_class_id_foreign; Type: FK CONSTRAINT; Schema: public; Owner: segp13
--

ALTER TABLE ONLY public.student_lists
    ADD CONSTRAINT student_lists_class_id_foreign FOREIGN KEY (class_id) REFERENCES public.classes(class_id) ON DELETE CASCADE;


--
-- Name: teachers teachers_class_id_foreign; Type: FK CONSTRAINT; Schema: public; Owner: segp13
--

ALTER TABLE ONLY public.teachers
    ADD CONSTRAINT teachers_class_id_foreign FOREIGN KEY (class_id) REFERENCES public.classes(class_id) ON DELETE CASCADE;


--
-- Name: teachers teachers_subject_id_foreign; Type: FK CONSTRAINT; Schema: public; Owner: segp13
--

ALTER TABLE ONLY public.teachers
    ADD CONSTRAINT teachers_subject_id_foreign FOREIGN KEY (subject_id) REFERENCES public.subjects(subject_id) ON DELETE CASCADE;


--
-- PostgreSQL database dump complete
--

\unrestrict c3Ab579KtH0GtRCSH7q4yliCZfEIvSFTJeLK8lnLaVuXrdfrWjyEIMLIQ4pRvD2

